.index-container {
    max-width: 1512px;
    min-height: calc(100vh - 80px);
    margin: 0 auto;
    padding: 0;
    background-color: #FFFFFF;
}

.tabs {
    position: relative;
    top: 52px;
    left: 147px;
    padding-bottom: 10px;
}

.tab-left {
    width: 155px;
    height: 40px;
    font-size: 24px;
    font-weight: 700;
    line-height: 29.05px;
    text-align: left;
}

.tab-right {
    font-size: 24px;
    font-weight: 700;
    line-height: 29.05px;
    text-align: left;
    margin-left: 10px;
}

.tab-links {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 20px;
}

.tab-links li {
    display: inline-block;
}

.tab-links a {
    text-decoration: none;
    padding: 10px 20px;
    font-size: 24px;
    font-weight: bold;
    color: #5F5F5F;
    transition: background-color 0.3s ease;
}

.tab-links .active a {
    color: #FF0000;
}

.tab-line {
    height: 2px;
    background-color: #5F5F5F;
    margin-top: 42px;
    margin-bottom: 20px;
}

.item {
    display: grid;
    grid-template-columns: repeat(5, 200px);
    grid-template-rows: repeat(2, 200px);
    column-gap: 77px;
    row-gap: 105px;
    justify-content: center;
    margin: 64px auto 0 auto;
}

.thumbnail {
    width: 200px;
    height: 200px;
    border-radius: 4px;
}

.thumbnail img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.thumbnail p {
    margin-top: 10px;
    font-size: 14px;
    color: #666;
}

.pagination {
    display: flex;
    justify-content: center;
    padding: 10px;
    margin-top: 90px;
}

.pagination li {
    display: inline-block;
    margin: 0 5px;
}

.pagination a {
    text-decoration: none;
    font-size: 24px;
    font-weight: 400;
    color: #FF0000;
    padding: 5px 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.pagination a:hover {
    background-color: #f0f0f0;
    border-color: #bbb;
}
