.index-container {
    max-width: 1512px; /* 共通の幅に揃える */
    min-height: calc(100vh - 80px); /* ヘッダーの高さを引いた最低高さ */
    margin: 0 auto; /* コンテンツを中央揃え */
    padding: 0; /* 上下に余白を追加 */
    background-color: #FFFFFF;
}

/* タブ部分のスタイル */
/* タブ全体のスタイル */
.tabs {
    position: relative; /* 相対的な位置を指定 */
    top: 52px; /* 132px - ヘッダー80px */
    left: 147px; /* 左の位置を指定 */
    padding-bottom: 10px;
}

/* 左のタブのスタイル */
.tab-left {
    width: 155px;
    height: 40px;
    font-size: 24px;
    font-weight: 700;
    line-height: 29.05px;
    text-align: left;
}

/* 右のタブのスタイル */
.tab-right {
    font-size: 24px;
    font-weight: 700;
    line-height: 29.05px;
    text-align: left;
    margin-left: 10px; /* 左のタブからの間隔を指定 */
}

.tab-links {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 20px; /* タブ間の隙間 */
}

.tab-links li {
    display: inline-block;
}

.tab-links a {
    text-decoration: none;
    padding: 10px 20px;
    font-size: 24px;
    font-weight: bold;
    color: #5F5F5F;
    transition: background-color 0.3s ease;
}

.tab-links .active a {
    color: #FF0000; /* アクティブなタブの文字色 */
}

/* タブとアイテムリストの境界線 */
.tab-line {
    height: 2px;
    background-color: #5F5F5F;
    margin-top: 42px;
    margin-bottom: 20px;
}

.item {
    display: grid;
    grid-template-columns: repeat(5, 200px); /* 1行に5つのアイテムを並べる */
    grid-template-rows: repeat(2, 200px); /* 2行のアイテム */
    column-gap: 77px; /* 横の間隔（列の間隔） */
    row-gap: 105px; /* 縦の間隔（行の間隔） */
    justify-content: center; /* アイテムを中央揃え */
    margin: 64px auto 0 auto; /* 上に64pxの余白、中央揃え */
}

.thumbnail {
    width: 200px;
    height: 200px;
    border-radius: 4px;
}

.thumbnail img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* 画像がサムネイルに収まるように調整 */
}

.thumbnail p {
    margin-top: 10px;
    font-size: 14px;
    color: #666;
}

/* ページネーションリンクを中央揃え */
.pagination {
    display: flex;
    justify-content: center;
    padding: 10px;
    margin-top: 90px; /* コンテンツとページネーションの間に余白 */
}

.pagination li {
    display: inline-block;
    margin: 0 5px;
}

.pagination a {
    text-decoration: none;
    font-size: 24px; /* フォントサイズを調整 */
    font-weight: 400; /* フォントの太さを調整 */
    color: #FF0000; /* テキストの色 */
    padding: 5px 10px;
    border: 1px solid #ddd; /* ボーダーを追加して見やすく */
    border-radius: 5px; /* 角を丸める */
}

.pagination a:hover {
    background-color: #f0f0f0; /* ホバー時の背景色 */
    border-color: #bbb; /* ホバー時のボーダー色 */
}
