/* アイテム詳細の全体スタイル */
.item-container {
    display: flex;
    justify-content: space-between;
    max-width: 1512px;
    min-height: calc(100vh - 80px);
    margin: 0 auto;
    padding: 0;
    background-color: #FFFFFF;
}

.item-image {
    flex: 1;
    max-width: 451px;
    height: 548px;
    padding-top: 159px;
    margin-left: 194px;
}

.item-image img {
    width: 100%;
    height: auto;
    display: block;
}

.item-info {
    flex: 2;
    padding-top: 159px;
    padding-left: 209px;
}

/* 商品名 */
.item-info h1 {
    max-width: 326px;
    margin-bottom: 15px;
    font-size: 48px;
    font-weight: 700;
    color: #000000;
    line-height: 1.5;
}

/* 値段 */
.item-info h2 {
    max-width: 326px;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.5;
    color: #000000;
    margin-top: 30px;
    margin-bottom: 20px;
}

/* 商品の説明や情報 */
.item-info p {
    max-width: 500px; /* 説明や情報の幅を広げる */
    font-size: 24px;
    font-weight: 400;
    line-height: 1;
    color: #000000;
    margin-bottom: 10px;
}

/* 星と吹き出しアイコンのセクションを横並びにする */
.like_comment-section {
    display: flex;
    align-items: center; /* アイコンを垂直に中央揃え */
    gap: 40px; /* アイコン間のスペース */
    margin-bottom: 20px; /* 下に余白を追加 */
}

/* いいね・コメントのアイコン部分 */
.like-section, .comment-section {
    display: flex;
    flex-direction: column; /* アイコンと数字を縦に並べる */
    align-items: center; /* アイコンと数字を中央揃え */
}

/* いいね・コメントのアイコン */
.like-section .like, .comment-section .comment-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 24px;
}

/* カウントをアイコンの下に表示する */
.like-count, .comment-count {
    font-size: 16px;
    text-align: center;
    margin-top: 5px; /* アイコンと数字の間にスペースを追加 */
}

/* 購入ボタンのスタイル */
.purchase-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #FF5555;
    color: #FFFFFF;
    max-width: 452px important; /* 幅の上限を設定 */
    height: 57px; /* 適切な高さに調整 */
    font-size: 30px; /* フォントサイズを適切に調整 */
    font-weight: 700;
    text-decoration: none;
    border: none;
    border-radius: 4px;
}

.purchase-button:hover {
    background-color: #FF3333;
}

.item-info .price-wrapper {
    font-size: 32px;
    font-weight: 700;
    color: #000000;
    margin-bottom: 20px;
}

.item-info .category, .item-info .condition {
    margin-bottom: 10px;
}

.item-info .category span, .item-info .condition span {
    background-color: #ececec;
    padding: 5px 10px;
    border-radius: 3px;
    margin-right: 5px;
    font-size: 14px;
}
